<!DOCTYPE html>
<html>
<head>
    <title>Application_Form</title>
</head>
<body>
    <table border="2" width="500px" align="center" bgcolor="pink">
        <caption><u>Registration Form</u></caption>
        <form action="" method="post">
            <tr>
                <td>Name</td><td><input type="text" name="nme"></td>
            </tr>
            <tr>
                <td>Password</td><td><input type="password" name="pwd"></td>
            </tr>
            <tr>
                <td>DOB</td><td><input type="date" name="bday"></td>
            </tr>
            <tr>
                <td>Email ID</td><td><input type="email" name="eml"></td>
            </tr>
            <tr>
                <td>Gender</td><td><input type="radio" name="a">Male <input type="radio" name="a">Female</td>
            </tr>
            <tr>
                <td>Hobbies</td><td><input type="checkbox" name="b">Cricket <input type="checkbox" name="b">Chess <input type="checkbox" name="b">Travelling</td>
            </tr>
            <tr>
                <td>City</td><td><select name="cty" id="i1">
                    <option value="Prayagraj">Prayagraj</option>
                    <option value="Lucknow">Lucknow</option>
                    <option value="Banaras">Banaras</option>
                    <option value="Sitapur">Sitapur</option>
                    <option value="Rampur">Rampur</option>
                </select></td>
            </tr>
            <tr>
                <td>Comment</td><td><textarea name="" id="" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <td></td><td><input type="submit" value="Register Me"></td>
            </tr>
        </form>
    </table>
</body>
</html>